params{
    output = false
    bcl_run_folder = false
    sample_whitelist = false
    input_type = "samplesheet"
    filter_dual_index = false
    filter_single_index = false
    lanes = false
    use_bases_mask = false
    delete_undetermined = false
    barcode_mismatches = 1
    project = false
    include_introns = true
    fastq_dir = false
    grouping = "$projectDir/templates/grouping.csv"
    multiplexing = "$projectDir/templates/multiplexing.csv"
    feature_csv = "$projectDir/templates/feature.csv"
    transcriptome_dir = "/shared/biodata/reference/10x/refdata-gex-GRCh38-2020-A"
    vdj_dir = "/shared/biodata/reference/10x/refdata-cellranger-vdj-GRCh38-alts-ensembl-5.0.0"
    dryrun = false
    cellranger_version = "7.0.1"
}

process {
    withLabel: cellranger {
        beforeScript = "ml CellRanger/${params.cellranger_version}"
        cpus = 8
        memory = "64.GB"
    }
    withLabel: python {
        beforeScript = "ml Python"
        cpus = 1
        memory = "4.GB"
    }
}